html, body {
    margin:0px;
    padding:0px; 
    height:100%;
    width:100%;
}

body {
    display:flex;
    align-content: center;
    justify-content: center;
}

form {
    flex: 0 0 auto;
    margin:auto;
    padding:10px;

    width:70%;
    height:55%;
    min-height:450px;
    min-width:550px;
    display:flex;
    flex-flow:column nowrap;
    justify-content: center;
    align-items:center;
    background-color:lightgrey;
    border:1px solid grey;
    
}

input {
    margin:5px;
}

select {
    margin:5px;
}

button {
    flex: 0 0 auto;
    display:block;
    margin:10px;
    width:200px;
    height:50px;
}

.form-hidden {
    display:none;
}



/* user page */

.aside {
    flex:0 0 auto;

    height:100%;
    width:200px;
    background-color:lightgrey;
    margin:0;
}

.content {
    flex:1 0 auto;
    border:1px solid black;
    background-color:lightseagreen;
}

.aside button {
    width:90%;
    margin-left:auto;
    margin-right:auto;
}

.aside h2 {
    text-align:center;
}


.aside select {
    width:90%;
    display:block;
    margin:0 auto 0 auto;
}