html, body {
    margin:0px;
    padding:0px; 
    height:100%;
    width:100%;
    font-family: Helvetica, sans-serif;
}

body {
    display:flex;
    align-content: center;
    justify-content: center;
}

form {
    flex: 0 0 auto;
    margin:auto;
    padding:10px;

    width:70%;
    height:55%;
    min-height:450px;
    min-width:550px;
    display:flex;
    flex-flow:column nowrap;
    justify-content: center;
    align-items:center;
    background-color:lightgrey;
    border:1px solid grey;
    
}

.ad-form {
    height:100%;
    justify-content: flex-start;
}

input {
    margin:5px;
}

select {
    margin:5px;
}

button {
    flex: 0 0 auto;
    display:block;
    margin:10px;
    width:200px;
    height:50px;
}



/* user page */

.aside {
    flex:0 0 auto;
    height:100%;
    width:200px;
    background-color:lightgrey;
    margin:0;
    margin-right:auto;
}

.content {
    flex:1 0 auto;
    background-color:lightseagreen;

    display:flex;
    flex-flow:row wrap;
    overflow-y:scroll;
    max-width:70%;
}

.ad-content {
    display:block !important;
    margin:5px;
}

.aside button {
    width:90%;
    margin-left:auto;
    margin-right:auto;
}

.aside h2 {
    text-align:center;
    color:#444444;
}


.aside select {
    width:90%;
    display:block;
    margin:0 auto 0 auto;
}

.form-hidden {
    display:none !important;
}


.ad {
    flex:0 0 auto;

    width:300px;
    height:250px;
    background-color:lightslategray;
    border:1px solid black;
    margin:30px;
    padding-left:5px;
    padding-right:5px;
    overflow:none;
    cursor:pointer;
}

.ad:hover {
    background-color:lightgrey;
    border:1px solid grey;
}

.ad h2 {
    text-align:center;
}